build: false
clone_folder: C:\projects\php-cs-fixer-custom-fixers

cache:
    - '%APPDATA%\Composer'
    - '%LOCALAPPDATA%\Composer'

install:
    - ps: Set-Service wuauserv -StartupType Manual
    - choco install php --package-parameters='/InstallDir:C:\tools\php' --yes
    - choco install composer --ia='/DEV=C:\tools\composer' --yes
    - refreshenv
    - cd C:\tools\php
    - copy php.ini-production php.ini
    - echo extension_dir=ext >> php.ini
    - echo extension=php_curl.dll >> php.ini
    - echo extension=php_mbstring.dll >> php.ini
    - echo extension=php_openssl.dll >> php.ini
    - composer global show hirak/prestissimo --quiet || composer global require hirak/prestissimo --no-ansi

before_test:
    - cd %APPVEYOR_BUILD_FOLDER%
    - composer update --no-ansi --no-progress --no-suggest --optimize-autoloader

test_script:
    - cd %APPVEYOR_BUILD_FOLDER%
    - set PHP_CS_FIXER_FUTURE_MODE=1
    - composer test
