/dev-tools/ export-ignore
/src-dev/ export-ignore
/tests/ export-ignore
/.* export-ignore
/phpmd.xml export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml.dist export-ignore
