{
    "source": {
        "directories": [
            "src",
            "src-dev"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignore": [
                "PhpCsFixerCustomFixers\\Fixer\\*::getConfigurationDefinition",
                "PhpCsFixerCustomFixers\\Fixer\\*::isCandidate"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "PhpCsFixerCustomFixers\\Fixer\\AbstractFixer::name"
            ]
        }
    }
}
