parameters:
    ignoreErrors:
        - '#^Method PhpCsFixerCustomFixers\\Fixer\\NoReferenceInFunctionDefinitionFixer::getArgumentStartIndices\(\) should return array<int> but returns array<int, int\|null>\.$#'
        - '#^Method PhpCsFixerCustomFixers\\Fixer\\NoCommentedOutCodeFixer::getMessage\(\) should return string but returns array<string>\|string\.$#'
        - '#^Cannot call method [a-zA-Z]+\(\) on [a-zA-Z\\]+\|null\.$#'
        - '#^Parameter .+ expects .+, .+ given\.$#'
        - '#^Only numeric types are allowed in (\-|\+|post\-decrement|post\-increment), int\|null given( on the left side)?\.$#'
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
