parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - '#^Method PhpCsFixerCustomFixers\\Fixer\\NoCommentedOutCodeFixer::getMessage\(\) should return string but returns array<string>\|string\.$#'
        - '#^Parameter .+ expects .+, .+ given\.$#'

includes:
    - dev-tools/vendor/phpstan/phpstan-strict-rules/rules.neon
