<?xml version='1.0' encoding='UTF-8'?>

<phpunit xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:noNamespaceSchemaLocation='vendor/phpunit/phpunit/phpunit.xsd'
         colors='true'
         forceCoversAnnotation='true'
         verbose='true'
>

    <php>
        <ini name='display_errors' value='1' />
        <ini name='display_startup_errors' value='1' />
        <ini name='error_reporting' value='-1' />
        <ini name='memory_limit' value='-1' />
    </php>

    <testsuites>
        <testsuite name='All'>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <file>src/Readme/php-cs-fixer.config.after.php</file>
                <file>src/Readme/php-cs-fixer.config.before.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
