<?xml version='1.0' encoding='UTF-8'?>

<phpunit xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:noNamespaceSchemaLocation='./vendor/phpunit/phpunit/schema/9.2.xsd'
         cacheResult='false'
         colors='true'
         forceCoversAnnotation='true'
         verbose='true'
>

    <php>
        <ini name='display_errors' value='1' />
        <ini name='display_startup_errors' value='1' />
        <ini name='error_reporting' value='-1' />
        <ini name='memory_limit' value='-1' />
    </php>

    <testsuites>
        <testsuite name='all'>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class='JohnKary\PHPUnit\Listener\SpeedTrapListener'>
            <arguments>
                <array>
                    <element key='slowThreshold'>
                        <integer>100</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <logging>
        <log type='coverage-text' target='php://stdout' showOnlySummary='true' />
    </logging>

    <filter>
        <whitelist>
            <directory>./dev-tools/src/Readme</directory>
            <directory>./src</directory>
            <exclude>
                <file>./dev-tools/src/Readme/php-cs-fixer.config.after.php</file>
                <file>./dev-tools/src/Readme/php-cs-fixer.config.before.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
