
includes:
  - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  bootstrapFiles:
    - ../vendor/autoload.php
  level: max
  paths:
    - ../src
    - ../tests
    - ../bootstrap.php
  reportMaybesInMethodSignatures: false
  stubFiles:
    - ./sca.stub
  treatPhpDocTypesAsCertain: false
  type_coverage:
      declare: 100
      constant: 0
      param: 100
      property: 100
      return: 100
