parameters:
  bootstrapFiles:
    - ./autoload.php
  excludePaths:
    - ./src/Readme
  ignoreErrors:
    - message: '#^Call to an undefined method PhpCsFixer\\Fixer\\FixerInterface::[a-zA-Z]+\(\)\.$#'
      path: ../tests
    - message: '# will always evaluate to true\.$#'
      path: ../tests
  level: max
  paths:
    - ../src
    - ../tests
  reportMaybesInMethodSignatures: false
  stubFiles:
    - ./sca.stub

includes:
  - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
