name: CI

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  analyse:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - run: composer self-update --snapshot
      - run: composer require friendsofphp/php-cs-fixer --no-update
      - run: composer update --no-progress
      - run: composer analyse

  test:
    name: PHP ${{ matrix.php-version }} with ${{ matrix.with-package }} ${{ matrix.description }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - description: 'with lowest dependencies'
            os: ubuntu-latest
            php-version: '7.4'
            with-package: friendsofphp/php-cs-fixer:*
            composer-flags: '--prefer-lowest'
          - description: 'with lowest dependencies'
            os: ubuntu-latest
            php-version: '7.4'
            with-package: php-cs-fixer/shim:*
            composer-flags: '--prefer-lowest'
          - os: ubuntu-latest
            php-version: '8.0'
            with-package: friendsofphp/php-cs-fixer:*
          - os: ubuntu-latest
            php-version: '8.1'
            with-package: friendsofphp/php-cs-fixer:*
            calculate-coverage: true
            description: 'with calculating code coverage'
          - os: ubuntu-latest
            php-version: '8.1'
            with-package: friendsofphp/php-cs-fixer:dev-master
            description: 'with PHP CS Fixer from master'
          - os: ubuntu-latest
            php-version: '8.1'
            with-package: php-cs-fixer/shim:*
          - description: on macOS
            os: macos-latest
            php-version: '8.1'
            with-package: friendsofphp/php-cs-fixer:*
          - description: on Windows
            os: windows-latest
            php-version: '8.1'
            with-package: friendsofphp/php-cs-fixer:*
          - os: ubuntu-latest
            php-version: '8.2'
            with-package: friendsofphp/php-cs-fixer:*
            composer-flags: '--ignore-platform-reqs'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    env:
      PHP_CS_FIXER_FUTURE_MODE: 1
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: pcov.directory=$GITHUB_WORKSPACE, zend.assertions=1
          coverage: ${{ (matrix.calculate-coverage && 'pcov') || 'none' }}
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
      - run: composer require ${{ matrix.with-package }} --no-update
      - run: composer update --no-progress ${{ matrix.composer-flags }}
      - run: composer test -- --coverage-clover=./build/logs/clover.xml
      - if: ${{ matrix.calculate-coverage }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: composer require --dev php-coveralls/php-coveralls --quiet --with-all-dependencies && ./vendor/bin/php-coveralls --verbose
      - if: ${{  matrix.calculate-coverage }}
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
        run: composer infection
