name: CI

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  analyse:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - run: composer update --no-progress
      - run: composer analyse

  test:
    name: PHP ${{ matrix.php-version }} ${{ matrix.description }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            description: 'with lowest dependencies'
            composer-flags: '--prefer-lowest'
            php-version: '7.4'
          - os: ubuntu-latest
            description: 'with lowest dependencies and shim package'
            composer-flags: '--prefer-lowest'
            use-shim-package: true
            php-version: '7.4'
          - os: ubuntu-latest
            php-version: '8.0'
          - os: ubuntu-latest
            description: 'with calculating code coverage'
            calculate-coverage: true
            php-version: '8.1'
          - os: ubuntu-latest
            description: 'with PHP CS Fixer from master'
            with-php-cs-fixer-from-master: true
            php-version: '8.1'
          - os: ubuntu-latest
            description: 'with shim package'
            use-shim-package: true
            php-version: '8.1'
          - os: macos-latest
            description: 'on macOS'
            php-version: '8.1'
          - os: windows-latest
            description: 'on Windows'
            php-version: '8.1'
          - os: ubuntu-latest
            composer-flags: '--ignore-platform-reqs'
            php-version: '8.2'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    env:
      PHP_CS_FIXER_FUTURE_MODE: 1
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: pcov.directory=$GITHUB_WORKSPACE, zend.assertions=1
          coverage: ${{ (matrix.calculate-coverage && 'pcov') || 'none' }}
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
      - if: ${{ matrix.use-shim-package }}
        run: composer require php-cs-fixer/shim:* --no-update
      - if: ${{ matrix.with-php-cs-fixer-from-master }}
        run: composer require friendsofphp/php-cs-fixer:dev-master --no-update
      - run: composer update --no-progress ${{ matrix.composer-flags }}
      - run: composer show | grep fixer
      - run: composer test -- --coverage-clover=./build/logs/clover.xml
      - if: ${{ matrix.calculate-coverage }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: composer require --dev php-coveralls/php-coveralls --quiet --with-all-dependencies && ./vendor/bin/php-coveralls --verbose
      - if: ${{ matrix.calculate-coverage }}
        run: |
          composer infection
          ./vendor/bin/php-coveralls --verbose
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
