name: CI

on:
  - pull_request
  - push

jobs:
  analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          coverage: none

      - name: Install dependencies
        run: composer update --no-progress

      - name: Analyse
        run: composer analyse

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        php-version: [ '7.4', '8.0' ]
        include:
          - os: ubuntu-latest
            php-version: '8.1'
          - os: ubuntu-latest
            php-version: '7.3'
          - os: ubuntu-latest
            php-version: '7.2'
          - os: ubuntu-latest
            php-version: '7.2'
            composer_flags: '--prefer-lowest'

    runs-on: ${{ matrix.os }}

    env:
      PHP_CS_FIXER_FUTURE_MODE: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get code coverage driver
        uses: actions/github-script@v4.1
        id: coverage-driver
        with:
          script: 'return "${{ matrix.os }}" == "ubuntu-latest" && "${{ matrix.php-version }}" == "8.0" ? "pcov" : "none"'
          result-encoding: string

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: pcov.directory=$GITHUB_WORKSPACE
          coverage: ${{ steps.coverage-driver.outputs.result }}

      - name: Get Composer data directory
        id: composer-data
        run: echo '::set-output name=dir::$(composer config data-dir)'

      - name: Cache Composer data
        uses: actions/cache@v2.1.6
        with:
          path: ${{ steps.composer-data.outputs.dir }}
          key: ${{ runner.os }}-composer-data-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-data-

      - name: Get Composer cache directory
        id: composer-cache
        run: echo '::set-output name=dir::$(composer config cache-files-dir)'

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-cache-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-cache-

      - name: Install dependencies
        run: composer update --no-progress ${{ matrix.composer_flags }}

      - name: Run tests
        run: composer test -- --coverage-clover=./build/logs/clover.xml

      - name: Upload coverage results to Coveralls
        if: steps.coverage-driver.outputs.result != 'none'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer require --dev php-coveralls/php-coveralls --quiet --with-all-dependencies
          ./vendor/bin/php-coveralls --verbose || true

      - name: Run Infection code review for changed files
        if: steps.coverage-driver.outputs.result != 'none' && github.event_name == 'pull_request'
        working-directory: ./dev-tools
        run: |
          composer install --quiet
          git fetch --depth=1 origin $GITHUB_BASE_REF
          ./vendor/bin/infection --git-diff-filter=AM --git-diff-base=origin/$GITHUB_BASE_REF --ignore-msi-with-no-mutations --logger-github --min-msi=100 --no-progress --only-covered --threads=16

      - name: Run Infection
        if: steps.coverage-driver.outputs.result != 'none'
        run: composer infection
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
