name: CI

on:
  pull_request: ~
  push:
    branches:
      - 'master'

jobs:
  analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check trailing whitespaces
        run: ./dev-tools/check_trailing_whitespaces.sh

      - name: Composer config
        run: composer config github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer update --no-progress --profile -vvv

      - name: Analyse
        run: composer test

  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        php-version: ['7.4']
        include:
          - os: ubuntu-latest
            php-version: '7.2'
          - os: ubuntu-latest
            php-version: '7.3'
          - os: ubuntu-latest
            php-version: '8.0'
            composer_flags: '--ignore-platform-reqs'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: pcov.directory=$GITHUB_WORKSPACE
          coverage: pcov

      - name: Get Composer data directory
        id: composer-data
        run: echo '::set-output name=dir::$(composer config data-dir)'

      - name: Cache Composer data
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-data.outputs.dir }}
          key: ${{ runner.os }}-composer-data-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-data-

      - name: Get Composer cache directory
        id: composer-cache
        run: echo '::set-output name=dir::$(composer config cache-files-dir)'

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-cache-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-cache-

      - name: Install prestissimo
        run: composer global outdated --strict hirak/prestissimo || composer global require hirak/prestissimo

      - name: Install dependencies
        run: composer update --no-progress --no-suggest ${{ matrix.composer_flags }}

      - name: Test
        run: composer test -- --coverage-clover=./build/logs/clover.xml

      - name: Collect coverage
        if: matrix.os == 'ubuntu-latest' && matrix.php-version == '7.4'
        run: |
          composer require --dev php-coveralls/php-coveralls
          COVERALLS_REPO_TOKEN=${{ secrets.COVERALLS_REPO_TOKEN }} COVERALLS_RUN_LOCALLY=1 ./vendor/bin/php-coveralls --verbose

      - name: Run Infection
        if: matrix.os == 'ubuntu-latest' && matrix.php-version == '7.4'
        run: composer infection
