name: CI

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  analyse:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - run: composer update --no-progress
      - run: composer analyse

  test:
    name: PHP ${{ matrix.php-version }} on ${{ matrix.os }} ${{ matrix.description }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        php-version: [ '7.4', '8.1' ]
        coverage-driver: [ none ]
        install-fixer-from-master-branch: [ false ]
        include:
          - os: ubuntu-latest
            php-version: '7.2'
            composer_flags: '--prefer-lowest'
            description: 'with lowest dependencies'
          - os: ubuntu-latest
            php-version: '7.2'
          - os: ubuntu-latest
            php-version: '7.3'
          - os: ubuntu-latest
            php-version: '8.0'
          - os: ubuntu-latest
            php-version: '8.1'
            coverage-driver: pcov
            description: 'with calculating code coverage'
          - os: ubuntu-latest
            php-version: '8.1'
            install-fixer-from-master-branch: true
            description: 'with PHP CS Fixer from master'
          - os: ubuntu-latest
            php-version: '8.2'
            composer_flags: '--ignore-platform-reqs'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    env:
      PHP_CS_FIXER_FUTURE_MODE: 1
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: pcov.directory=$GITHUB_WORKSPACE, zend.assertions=1
          coverage: ${{ matrix.coverage-driver }}
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
      - if: matrix.install-fixer-from-master-branch
        run: composer require friendsofphp/php-cs-fixer:dev-master --no-update
      - run: composer update --no-progress ${{ matrix.composer_flags }}
      - run: composer test -- --coverage-clover=./build/logs/clover.xml
      - if: matrix.coverage-driver != 'none'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: composer require --dev php-coveralls/php-coveralls --quiet --with-all-dependencies && ./vendor/bin/php-coveralls --verbose
      - if: matrix.coverage-driver != 'none'
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
        run: composer infection
