name: CI

on:
  pull_request: ~
  push:
    branches:
      - 'master'

jobs:
  analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check trailing whitespaces
        run: ./dev-tools/check_trailing_whitespaces.sh

      - name: Install dependencies
        run: composer update --no-progress --no-suggest

      - name: Analyse
        run: composer analyse

  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        php-version: ['7.4']
        include:
          - os: ubuntu-latest
            php-version: '7.2'
            composer_flags: '--prefer-lowest'
          - os: ubuntu-latest
            php-version: '7.2'
          - os: ubuntu-latest
            php-version: '7.3'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: pcov.directory=.
          coverage: pcov

      - name: Get composer cache directory
        id: composer-cache
        run: echo '::set-output name=dir::$(composer config cache-files-dir)'

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer update --no-progress --no-suggest ${{ matrix.composer_flags }}

      - name: Test
        run: composer test -- --coverage-clover=./build/logs/clover.xml

      - name: Collect coverage
        if: matrix.os == 'ubuntu-latest' && matrix.php-version == '7.4'
        run: |
          composer require --dev php-coveralls/php-coveralls
          COVERALLS_REPO_TOKEN=${{ secrets.COVERALLS_REPO_TOKEN }} COVERALLS_RUN_LOCALLY=1 ./vendor/bin/php-coveralls -v
