name: CI

on:
  - pull_request
  - push

jobs:
  analyse:
    runs-on: ubuntu-latest
    env:
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - run: composer update --no-progress
      - run: composer analyse

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        php-version: [ '7.4', '8.1' ]
        include:
          - os: ubuntu-latest
            php-version: '7.2'
            composer_flags: '--prefer-lowest'
          - os: ubuntu-latest
            php-version: '7.2'
          - os: ubuntu-latest
            php-version: '7.3'
          - os: ubuntu-latest
            php-version: '8.0'
    runs-on: ${{ matrix.os }}
    env:
      PHP_CS_FIXER_FUTURE_MODE: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/github-script@v5
        id: coverage-driver
        with:
          script: 'return "${{ matrix.os }}" == "ubuntu-latest" && "${{ matrix.php-version }}" == "8.1" ? "pcov" : "none"'
          result-encoding: string
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          ini-values: pcov.directory=$GITHUB_WORKSPACE
          coverage: ${{ steps.coverage-driver.outputs.result }}
      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
      - run: composer update --no-progress ${{ matrix.composer_flags }}
      - run: composer test -- --coverage-clover=./build/logs/clover.xml
      - if: steps.coverage-driver.outputs.result != 'none'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer require --dev php-coveralls/php-coveralls --quiet --with-all-dependencies
          ./vendor/bin/php-coveralls --verbose || true
      - if: steps.coverage-driver.outputs.result != 'none'
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
        run: composer infection
